    h1 {
        font-family: fantasy;
        text-align: center;
        font-size: 100px;
    }

    h2 {
        font-family: cursive;
        text-align: center;
        font-size: 40px;
    }

    p {

        text-align: center;
    }

    body {
        background-color: black;
        color: white;
        text-align: center;
        font-family: monospace, sans-serif;
    }

    #fotodeperfil {
        border-radius: 10%;
        width: 250px
        
    }
